
<table id="bladder-info" class="content-table">
    <thead>
        <tr class="header-row">
            <td rowspan="2">MACHINE</td>
            <td rowspan="2">SIZE</td>
            <td rowspan="2">BLADDER</td>
            <td rowspan="2">LIMIT</td>
            <td colspan="4">LEFT</td>            
            <td colspan="4">RIGHT</td>            
            <td rowspan="2">LAST UPDATE</td>          
        </tr>
        <tr class="header-row">            
            <td>Count</td>
            <td>Remain</td>
            <td>Last</td>
            <td>Date</td>

            <td>Count</td>
            <td>Remain</td>     
            <td>Last</td>
            <td>Date</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@Scripts.Render("~/bundles/app-ext")